@page
@model ProjectPages.Areas.Tasks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaskModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskModel.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskModel.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskModel.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskModel.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TaskModel?.TaskId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
